
  .wrapper {
    position:relative;
    width: 720px;
    height: 900px;
    border: 22px solid rgb(85, 106, 107);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
.knopka{
  width: 120px;
  height: 180px;
  position: absolute;
  left: 15%;
  bottom: 42%;
  background-color:transparent;
}
.knopka1{
  width: 225px;
  height: 150px;
  position: absolute;
  left: 34%;
  bottom: 49%;
  background-color:transparent;
}
.knopka2{
  width: 120px;
  height: 180px;
  position: absolute;
  left: 40%;
  bottom: 27%;
  background-color:transparent;
}
.knopka3{
  width: 120px;
  height: 180px;
  position: absolute;
  left: 68%;
  bottom: 42%;
  background-color:transparent;
}

  .btn {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center; 
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 200px;
    height: 80px;
    background-color: yellow;
    border:orange;
  }
  .muscle_knopka{
    margin-bottom: 20px;
    margin-top: 20px;
    position: absolute;
    background-color: yellow;
    border:orange;
    width: 720px;
    height: 900px;
  }
.pullup{
  width: 120px;
  height: 180px;
  position: absolute;
  left: 130%;
  bottom: 27%;
  background-color:orange;
}
.pullup1{
  width: 120px;
  height: 180px;
  position: absolute;
  left: 130%;
  bottom: 67%;
  background-color:orange;
}
.pullup2{
  width: 120px;
  height: 180px;
  position: absolute;
  right:160%;
  bottom: 67%;
  background-color:orange;
}
